      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Tyler Hamvas and I am an aspiring Software Developer. I spend a lot of my free time researching new languages and frameworks so I can expand my programming knowledge.</p>
          <p>Aside from computer related interests, I also really love to cook and I spend a lot of time at the gym. Spring and Summer are the perfect seasons for both of those interests, so this is my favourite time of the year!</p>
          <p></p>
        </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>As soon as I learn more about Express, this app will grow - stay tuned!</p>
        </aside>
      </div>